@media screen and (max-width: 1485px) {
  .offers {
    width: 65%;
  }
}
@media screen and (max-width: 1373px) {
  .offers {
    width: 72%;
  }
}
@media screen and (max-width: 1250px) {
  header {
    width: 90%;
  }
  .offers {
    width: 82%;
  }
  .destination {
    width: 55%;
  }
}
@media screen and (max-width: 950px) {
  header {
    width: 95%;
  }
  header .tripBox .searchBox {
    width: 70%;
  }
  header .tripBox .travelBox .cards {
    overflow: auto;
  }
  header .tripBox .travelBox .cards .card {
    min-width: 22opx;
    margin-right: 10px;
  }
  .offers {
    width: 95%;
  }
  .destination {
    width: 60%;
  }
}
